main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;

  .card {
    border-radius: var(--radius-panel);
    padding: 1.25rem;
    display: flex;
    justify-content: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    span {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  aside {
    width: 100%;
    padding: 0rem 1rem;
  }
}
