<app-base-panel panelTitle="My Devices" [notification]="notification">
  <aside>
    <app-filter-device-buttons
      [(owners)]="owners"
      [(locations)]="locations"
      [(categories)]="categories"
      (onFilterChange)="applyFilters()"
    />
  </aside>
  <main>
    @for (device of deviceList; track device.primary_mac.address) {
    <app-device-card
      [device]="device"
      [showStatus]="true"
      [showLink]="true"
      [removable]="false"
      (onClick)="openModal(device)"
    />
    }
  </main>
</app-base-panel>

@if(currentDevice) {
<app-device-modal
  [device]="currentDevice"
  [isOpen]="showDeviceModal"
  (onClose)="closeModal()"
  (onDelete)="closeModal()"
/>
}
