<app-base-panel [panelTitle]="titleText" [notification]="notification">
  <aside>
    @if (selectedCategory || selectedLocation || selectedOwner) {
    <button class="clear-filters interactive" (click)="clearFilters()">
      Clear all
    </button>
    } @if (!showUnknown) {
    <app-select
      [css]="'secondary right'"
      [options]="ownerOptions"
      [placeholder]="'Owner'"
      [isClearable]="true"
      [isPersistent]="true"
      (optionSelected)="selectOwner($event)"
    />
    <app-select
      [css]="'secondary right'"
      [options]="locationOptions"
      [placeholder]="'Location'"
      [isClearable]="true"
      [isPersistent]="true"
      (optionSelected)="selectLocation($event)"
    />
    <app-select
      [css]="'secondary right'"
      [options]="categoryOptions"
      [placeholder]="'Category'"
      [isClearable]="true"
      [isPersistent]="true"
      (optionSelected)="selectCategory($event)"
    />
    } @if (showUnknown) {
    <input
      type="number"
      id="timeLimit"
      name="timeLimit"
      class="input secondary interactive"
      [(ngModel)]="timeLimit"
      (ngModelChange)="applyFilters()"
    />
    <label for="timeLimit">Days</label> }
  </aside>

  <main>
    @for (device of deviceList; track device.primary_mac.address) {
    <app-device-card
      [device]="device"
      [showStatus]="true"
      [showLink]="true"
      [removable]="false"
      (onClick)="openViewModal(device)"
    />
    }
  </main>
</app-base-panel>

@if(currentDevice && deviceFormMode) {
<app-base-modal
  [title]="getModalTitle()"
  [isOpen]="showDeviceModal"
  (onClose)="closeModal()"
>
  <app-device-form
    [device]="currentDevice"
    [mode]="deviceFormMode"
    (onClose)="closeModal()"
    (modeChange)="deviceFormMode = $event"
    (addedToDevice)="onAddedToDevice($event)"
  />
</app-base-modal>
}
