<app-base-panel panelTitle="My Devices" [notification]="notification">
  <aside>
    @if (selectedCategory() || selectedLocation() || selectedOwner()) {
    <button class="clear-filters interactive" (click)="clearFilters()">
      Clear all
    </button>
    }
    <app-select
      [css]="'secondary right'"
      [(options)]="owners"
      [placeholder]="'Owner'"
      [isClearable]="true"
      [isPersistent]="true"
      (optionsChange)="applyFilters()"
    />
    <app-select
      [css]="'secondary right'"
      [(options)]="locations"
      [placeholder]="'Location'"
      [isClearable]="true"
      [isPersistent]="true"
      (optionsChange)="applyFilters()"
    />
    <app-select
      [css]="'secondary right'"
      [(options)]="categories"
      [placeholder]="'Category'"
      [isClearable]="true"
      [isPersistent]="true"
      (optionsChange)="applyFilters()"
    />
  </aside>
  <main>
    @for (device of deviceList; track device.primary_mac.address) {
    <app-device-card
      [device]="device"
      [showStatus]="true"
      [showLink]="true"
      [removable]="false"
      (onClick)="openModal(device)"
    />
    }
  </main>
</app-base-panel>

@if(currentDevice) {
<app-device-modal
  [device]="currentDevice"
  [isOpen]="showDeviceModal"
  (onClose)="closeModal()"
  (onDelete)="closeModal()"
/>
}
