<app-base-form-section sectionTitle="Open Ports">
  <div class="tags">
    @for (portInfo of getSortedPorts(); track portInfo.port.id) { @if
    (portInfo.isHttp) {
    <a
      target="_blank"
      rel="noopener noreferrer"
      [href]="portInfo.address"
      [title]="portInfo.address"
    >
      <div class="tag interactive">
        {{ getPortDescription(portInfo) }}
        <app-icon [name]="'external-link'" size="16"></app-icon>
      </div>
    </a>
    } @else {
    <div class="tag">{{ getPortDescription(portInfo) }}</div>
    } } @if (ports.length === 0) {
    <app-notification [details]="noPortsNotification" [closeable]="false" />
    }
  </div>
</app-base-form-section>
