{% macro select(id, placeholder, style) %}

<div class="input secondary {{ style }} select closed" id="{{ id }}" tabindex="0">
  <span class="select-text">{{ placeholder }}</span>
  <img
    class="select-icon"
    src="/static/icons/collapse.svg"
    alt="Toggle dropdown"
  />
  <div class="select-dropdown"></div>
</div>

<style>
  .select {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }
  .closed.select {
    z-index: 0;
  }

  .select-dropdown {
    max-height: 100px;
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    border: 2px solid var(--colour-primary);
    border-radius: var(--radius-input);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    overflow-y: hidden;
    transition: max-height 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  .closed .select-dropdown {
    border: none;
    transition: border;
    transition-delay: 0.3s;
    max-height: 0 !important;
  }

  .select-option {
    padding: 0.5rem 1rem;
    color: var(--colour-black);
    text-align: left;
    background: var(--colour-dropdown-background);
    cursor: pointer;
    transition: 0.15s;
    position: relative;
  }
  .select-option:hover,
  .select-option.selected {
    background: var(--colour-primary);
    color: var(--colour-white);
  }
  .actionable .select-option:last-child {
    border-top: 2px solid var(--colour-primary);
  }

  .select-icon {
    margin: 0 0 -2px 8px;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
    transform: rotate(0deg);
  }
  .open .select-icon {
    transform: rotate(180deg);
  }

  .select.left {
    padding: 0.5rem 1rem;
    color: var(--colour-placeholder);
  }
</style>

{% endmacro %}
