{% macro select(id, placeholder, style) %}

<div
  class="input secondary placeholder {{ style }} select closed"
  id="{{ id }}"
  tabindex="0"
>
  <span class="select-text">{{ placeholder }}</span>
  <img
    class="select-icon"
    src="/static/icons/collapse.svg"
    alt="Toggle dropdown"
  />
  <div class="select-dropdown"></div>
</div>

<style>
  .select {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }
  .closed.select {
    z-index: 0;
    transition: transform var(--duration-fast) ease,
      z-index 0s ease var(--duration-fast);
  }

  .select-dropdown {
    max-height: 100px;
    position: absolute;
    left: -2px;
    top: 110%;
    min-width: 100%;
    border: 2px solid var(--colour-primary);
    border-radius: var(--radius-input);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    overflow-y: hidden;
    transition: max-height var(--duration-fast) cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  .closed .select-dropdown {
    max-height: 0 !important;
    border-width: 0 !important;
    transition: max-height var(--duration-fast) cubic-bezier(0.4, 0.2, 0.2, 1)
        0s,
      border-width 0s ease-out calc(var(--duration-fast));
  }
  .disabled .select-dropdown {
    display: none;
  }

  .select-option {
    padding: 0.5rem 1rem;
    color: var(--colour-black);
    text-align: left;
    background: var(--colour-dropdown-background);
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  .select-option:hover,
  .select-option.selected {
    background: var(--colour-primary);
    color: var(--colour-white);
  }
  .actionable .select-option:last-child {
    border-top: 2px solid var(--colour-primary);
  }
  .select-option.action {
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    background-size: 1.3rem;
  }

  .select-icon {
    margin: 0 0 -2px 8px;
    pointer-events: none;
    transition: transform var(--duration-fast) cubic-bezier(0.4, 0.2, 0.2, 1);
    transform: rotate(180deg);
  }
  .closed .select-icon {
    transform: rotate(0deg);
  }

  .select.left {
    padding: 0.5rem 1rem;
  }

  .select.secondary {
    color: var(--colour-black);
  }
  .select.secondary:not(.left) {
    color: var(--colour-primary);
  }

  .select.hidden {
    display: none;
  }
</style>

{% endmacro %}
