version: "3.8"

services:
  backend:
    image: joelcunningham03/network-monitor-backend:latest
    container_name: network-monitor-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./data/db:/app/instance
      - ./backend/.env:/app/.env:ro
    environment:
      - DATABASE_URL=sqlite:////app/instance/network_monitor.db
      - SUBNET=192.168.0
      - MIN_SCAN_IP=1
      - MAX_SCAN_IP=254
      - BACKGROUND_SCAN_INTERVAL_S=60
      - BACKGROUND_FULL_SCAN_INTERVAL_S=300
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    privileged: false

  frontend:
    image: joelcunningham03/network-monitor-frontend:latest
    container_name: network-monitor-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data:

networks:
  default:
    name: network-monitor-net
