<app-base-modal
  [isOpen]="isOpen"
  [modalTitle]="getModalTitle()"
  [notification]="notification"
  (onClose)="onFormClose()"
>
  @if (isViewMode) {
  <app-view-device-form
    [device]="device"
    (onEdit)="setViewMode(false)"
    (onDelete)="onFormDelete()"
    (onClose)="onFormClose()"
    (onNotification)="onNotification($event)"
  />
  } @else {
  <app-edit-device-form
    [device]="device"
    (onSubmit)="onFormUpdate($event)"
    (onCancel)="onFormClose()"
    (onNotification)="onNotification($event)"
  />
  }
</app-base-modal>
