<div class="form-actions">
  <div class="dropdown">
    <app-select
      [css]="'primary left'"
      [(options)]="devices"
      [placeholder]="'Assign a device'"
      [isClearable]="false"
      [isPersistent]="false"
      [isReversed]="true"
      (optionsChange)="selectDevice()"
    />
  </div>
  <div class="form-buttons">
    <button class="input secondary interactive" (click)="cancel()">
      Cancel
    </button>
    <button class="input primary interactive" (click)="submit()">
      {{ addMode ? "Add Owner" : "Save" }}
    </button>
  </div>
</div>
