.filters {
  display: flex;
  gap: 0.5rem;

  input {
    padding-left: 1.75rem;
    width: 6rem;
    text-align: center;
  }

  label {
    margin: auto;
    padding-bottom: 4px;
  }
}

@media (max-width: 768px) {
  .filters {
    padding: 1rem;

    input {
      width: 100%;
    }
  }
}
