button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  app-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 768px) {
  button {
    justify-content: center;
    width: 100%;
  }
}
