<div class="form-actions">
  <app-select
    [css]="'primary left'"
    [options]="devices"
    [placeholder]="'Assign a device'"
    [isClearable]="false"
    [isPersistent]="false"
    [isReversed]="true"
    (optionSelected)="selectDevice($event)"
  />
  <div class="form-buttons">
    <button class="input secondary interactive" (click)="cancel()">
      Cancel
    </button>
    <button class="input primary interactive" (click)="submit()">
      {{ addMode ? "Add Owner" : "Save" }}
    </button>
  </div>
</div>
