.card {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: var(--radius-panel);
  background: var(--colour-page-background);

  &.primary {
    background: var(--gradient-primary);

    .title {
      color: var(--colour-white);
    }
  }

  &.selected {
    border: 2px solid var(--colour-primary);
  }

  &.full-width {
    grid-column: 1 / -1;
    justify-content: center;
    display: flex;
  }

  &.static {
    cursor: default;
  }

  &.interactive:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .title {
    color: var(--colour-black);
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0.5rem;
  }

  .remove-button {
    color: var(--colour-primary);
    margin-left: 0.5rem;
    transform: translateY(2px);
    cursor: pointer;
    transition: transform var(--duration-fast) ease;

    &:hover {
      transform: scale(1.2) translateY(2px);
    }
  }
}
