<app-base-panel panelTitle="Owners">
  <main>
    @for (owner of owners; track owner.id) {
    <app-owner-card [owner]="owner" (onClick)="openViewModal(owner)" />
    }
    <app-add-owner-card (onClick)="openAddModal()" />
  </main>
</app-base-panel>

@if (currentOwner && ownerFormMode) {
<app-modal
  [title]="getModalTitle()"
  [isOpen]="showOwnerModal"
  (onClose)="closeModal()"
>
  <app-owner-form
    [owner]="currentOwner"
    [mode]="ownerFormMode"
    (onClose)="closeModal()"
    (onSubmit)="handleOwnerUpdate($event)"
    (onDelete)="handleOwnerDelete($event)"
    (modeChange)="ownerFormMode = $event"
  />
</app-modal>
}
