<app-notification
  [message]="notificationMessage"
  [type]="notificationType"
  [css]="'margin-bottom: 2rem;'"
  (onClose)="clearErrors()"
/>
@if (isViewMode()) {
<div class="device-form device-view">
  @if (device.id) {
  <div class="form-row">
    <div class="form-group">
      <label>Model</label>
      <span>{{ device.model || "N/A" }}</span>
    </div>
    <div class="form-group">
      <label>Category</label>
      <span>{{ device.category?.name || "N/A" }}</span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Location</label>
      <span>{{ device.location?.name || "N/A" }}</span>
    </div>
    <div class="form-group">
      <label>Owner</label>
      <span>{{ device.owner?.name || "N/A" }}</span>
    </div>
  </div>

  <div class="form-group macs-group">
    <label>Macs</label>
    <ul class="mac-list">
      @for (mac of getSortedMacs(device.macs); track mac.id) {
      <app-base-card
        [title]="mac.address"
        [value]="mac.id"
        [selected]="mac.id === currentMac?.id"
        (onClick)="selectMac(mac)"
      ></app-base-card>
      }
    </ul>
  </div>
  } @else {
  <div class="form-group macs-group">
    <ul class="mac-list">
      <app-base-card
        [title]="device.primary_mac.address"
        [interactive]="false"
      ></app-base-card>
    </ul>
  </div>
  }
  <app-form-section sectionTitle="Network Information" [collapsible]="true">
    <div class="form-row">
      <div class="form-group">
        <label>Last IP Address</label>
        <span>{{ currentMac?.last_ip }}</span>
      </div>
      <div class="form-group">
        <label>Hostname</label>
        <span>{{ currentMac?.hostname || "Unknown" }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Vendor</label>
        <span>{{ currentMac?.vendor || "Unknown" }}</span>
      </div>
      <div class="form-group">
        <label>OS Group</label>
        <span>{{ currentMac?.os_guess }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Last Seen</label>
        <span>{{ currentMac?.last_seen | date : "short" }}</span>
      </div>
      <div class="form-group">
        <label>TTL / ARP / Ping Time</label>
        <span
          >{{ currentMac?.ttl }} / {{ currentMac?.arp_time_ms }} /
          {{ currentMac?.ping_time_ms }}</span
        >
      </div>
    </div>
  </app-form-section>

  <div class="form-columns">
    <app-form-section sectionTitle="Ports">
      <div class="tags">
        @for (port of getSortedPorts(currentMac); track port.id) { @if
        (getPortHttpUrl(currentMac?.last_ip, port.number)) {
        <a
          target="_blank"
          rel="noopener noreferrer"
          [href]="getPortHttpUrl(currentMac?.last_ip, port.number)"
          [title]="getPortHttpUrl(currentMac?.last_ip, port.number)"
        >
          <div class="tag port-tag interactive">
            {{ getPortText(port) }}
            <app-icon [name]="'external-link'" size="16"></app-icon>
          </div>
        </a>
        } @else {
        <div class="tag port-tag">{{ getPortText(port) }}</div>
        } } @if (currentMac?.ports?.length === 0) {
        <app-notification
          [message]="'No ports detected'"
          [type]="infoNotificationType"
          [closeable]="false"
        />
        }
      </div>
    </app-form-section>

    <app-form-section sectionTitle="Services">
      <div class="tags">
        @for (discovery of currentMac?.discoveries; track discovery.id) {
        <div class="tag discovery-tag" [title]="discovery.device_name">
          {{ discovery.protocol }}
        </div>
        } @if (currentMac?.discoveries?.length === 0) {
        <app-notification
          [message]="'No services detected'"
          [type]="infoNotificationType"
          [closeable]="false"
        />
        }
      </div>
    </app-form-section>
  </div>

  @if(device.id) {
  <div class="form-actions">
    <div class="form-buttons">
      <button class="input secondary interactive" (click)="setMode(editMode)">
        Edit
      </button>
      <button class="input primary interactive" (click)="deleteDevice()">
        Delete
      </button>
    </div>
  </div>
  } @else {
  <div class="form-actions">
    <div class="form-buttons">
      <app-select
        [css]="'secondary left'"
        [options]="deviceOptions"
        [placeholder]="'Add to device'"
        [isClearable]="false"
        [isPersistent]="false"
        [isReversed]="true"
        (optionSelected)="addToDevice($event); clearErrors()"
      />
      <button class="input primary interactive" (click)="setMode(editMode)">
        Create device
      </button>
    </div>
  </div>

  }
</div>
} @else {
<form (ngSubmit)="submitForm()" class="device-form">
  <div class="form-row">
    <div class="form-group">
      <label for="deviceName">Name</label>
      @if (!autoName) {
      <input
        type="text"
        id="deviceName"
        name="deviceName"
        placeholder="Enter the device name"
        class="input secondary interactive"
        [class.error]="nameError"
        (input)="clearErrors()"
        [(ngModel)]="newName"
      />
      } @else {
      <input
        type="text"
        id="deviceName"
        name="deviceName"
        class="input secondary interactive"
        [class.error]="nameError"
        [value]="getAutoName(selectedCategory, selectedLocation, selectedOwner)"
        disabled
      />
      }
    </div>
    <div class="form-group">
      <app-checkbox
        id="deviceAutoName"
        name="deviceAutoName"
        [label]="'Automatically generate name'"
        [checked]="autoName"
        (checkedChange)="toggleAutoName($event)"
      ></app-checkbox>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="deviceModel">Device Model</label>
      <input
        type="text"
        id="deviceModel"
        name="deviceModel"
        placeholder="Enter the model of the device"
        class="input secondary interactive"
        required
        [class.error]="modelError"
        (input)="clearErrors()"
        [(ngModel)]="newModel"
      />
    </div>
    <div class="form-group">
      <label for="deviceCategory">Category</label>
      <app-select
        id="deviceCategory"
        name="deviceCategory"
        [options]="categoryOptions"
        [initialOption]="selectedCategory"
        [class.error]="categoryError"
        [css]="'secondary right'"
        (optionSelected)="setCategory($event); clearErrors()"
      ></app-select>
    </div>
    <div class="form-group">
      <label for="deviceLocation">Location</label>
      <app-select
        id="deviceLocation"
        name="deviceLocation"
        [options]="locationOptions"
        [initialOption]="selectedLocation"
        [class.error]="locationError"
        [css]="'secondary right'"
        (optionSelected)="setLocation($event); clearErrors()"
      ></app-select>
    </div>
    <div class="form-group">
      <label for="deviceOwner">Owner</label>
      <app-select
        id="deviceOwner"
        name="deviceOwner"
        [options]="ownerOptions"
        [initialOption]="selectedOwner"
        [class.error]="ownerError"
        [css]="'secondary right'"
        (optionSelected)="setOwner($event); clearErrors()"
      ></app-select>
    </div>
  </div>
  @if (newMacs.length > 0) {
  <div class="form-group">
    <label>Macs</label>
    <ul>
      @for (mac of newMacs; track mac.id) {
      <app-base-card
        [title]="mac.address"
        [value]="mac.id"
        [interactive]="false"
      >
        <app-icon
          class="after link-button icon-button interactive"
          name="close"
          size="24"
          (click)="removeMac(mac)"
        />
      </app-base-card>
      }
    </ul>
  </div>
  }

  <div class="form-actions">
    <div class="form-buttons">
      @if (isEditMode()) {
      <button
        type="button"
        class="input secondary interactive"
        (click)="cancelEdit()"
      >
        Cancel
      </button>
      <button type="submit" class="input primary interactive">Save</button>
      } @else {
      <button
        type="reset"
        class="input secondary interactive"
        (click)="closeForm()"
      >
        Cancel
      </button>
      <button type="submit" class="input primary interactive">
        Add device
      </button>
      }
    </div>
  </div>
</form>
}
