.device-form {
  .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem 2rem;

    .form-group {
      span {
        margin: 0.5rem 0;
      }
    }

    &:last-child {
      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .form-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem 2rem;
    align-items: stretch;

    > * {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &.device-view .form-group {
    margin-bottom: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &.no-margin {
      margin-bottom: 0;
    }

    .link-button {
      color: var(--colour-primary);
    }

    span {
      margin: 0.85rem 0;
    }

    label {
      color: var(--colour-light-grey);
      font-weight: 500;
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
      text-transform: uppercase;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;

      li {
        list-style: none;
      }
    }

    &.macs-group {
      margin-bottom: 1.5rem;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: var(--colour-white);

    .tag {
      border-radius: var(--radius-tag);
      padding: 0.5rem 1rem;

      &.port-tag {
        background: var(--colour-info);

        app-icon {
          top: 3px;
          position: relative;
        }
      }

      &.discovery-tag {
        background: var(--colour-success);
      }
    }

    a {
      color: var(--colour-white);
      text-decoration: none;
    }

    app-notification {
      width: 100%;
    }
  }

  &.device-view {
    .form-actions {
      display: flex;
      justify-content: flex-end;

      .form-buttons {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;

    .form-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}

app-checkbox {
  margin-top: 1.8rem;
}
