.form-group {
  .link-button {
    color: var(--colour-primary);
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    li {
      list-style: none;
    }
  }

  &.macs-group {
    margin-bottom: 1.5rem;
  }
}

app-checkbox {
  margin-top: 1.8rem;
}

@media (max-width: 768px) {
  .form-group {
    ul {
      grid-template-columns: 1fr;
    }
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  app-checkbox {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
}
