.owner-form {
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &.no-margin {
      margin-bottom: 0;
    }

    span {
      margin: 0.85rem 0;
    }

    label {
      color: var(--colour-light-grey);
      font-weight: 500;
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
      text-transform: uppercase;
    }

    .devices-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      gap: 1.5rem;

      .card {
        border-radius: var(--radius-panel);
        padding: 1.25rem;
        display: flex;
        justify-content: center;

        img {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
        }

        span {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }

  &.owner-view {
    .form-actions {
      display: flex;
      justify-content: flex-end;

      .form-buttons {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;

    .form-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
