.form-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem 2rem;

  > * {
    flex-direction: column;
    height: -webkit-fill-available;
  }
}

@media (max-width: 768px) {
  .form-columns {
    grid-template-columns: 1fr;
  }
}
