<app-base-panel panelTitle="Owners">
  <main>
    @for (owner of owners; track owner.id) {
    <app-base-card
      [value]="owner.id"
      [title]="owner.name"
      (onClick)="openViewModal(owner)"
    >
      <span class="after card-badge">
        {{ owner.devices.length }}
      </span>
    </app-base-card>
    }
    <app-base-card
      title="Add Owner"
      [primary]="true"
      (onClick)="openAddModal()"
    >
      <app-icon class="before add-card" name="add" size="24" />
    </app-base-card>
  </main>
</app-base-panel>

@if (currentOwner && ownerFormMode) {
<app-modal
  [title]="getModalTitle()"
  [isOpen]="showOwnerModal"
  (onClose)="closeModal()"
>
  <app-owner-form
    [owner]="currentOwner"
    [mode]="ownerFormMode"
    (onClose)="closeModal()"
    (onSubmit)="handleOwnerUpdate($event)"
    (onDelete)="handleOwnerDelete($event)"
    (modeChange)="ownerFormMode = $event"
  />
</app-modal>
}
