main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .view-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    app-icon {
      width: 1.2rem;
      height: 1.2rem;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
