.input {
  background: var(--colour-primary);
  color: var(--colour-white);
  border: var(--colour-primary) 2px solid;
  padding: 0.7rem 1rem;
  border-radius: var(--radius-input);
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
}

.input:hover,
.input:focus {
  outline: none;
  transform: scale(1.05);
}

.input.secondary {
  background: transparent;
  color: var(--colour-primary);
}

.input.disabled {
  background: var(--colour-page-background);
  color: var(--colour-light-grey);
  border-color: var(--colour-light-grey);
  pointer-events: none;
  cursor: not-allowed;
}

.input.error {
  border: 2px solid var(--colour-error);
  animation: inputErrorPulse 0.3s ease;
}

.input.left {
  text-align: left;
}

.input img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}

@keyframes inputErrorPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}