<app-notification
  [message]="notificationMessage"
  [type]="notificationType"
  [css]="'margin-bottom: 2rem;'"
  (onClose)="clearErrors()"
/>
@if (isViewMode()) {
<app-view-owner-form
  [owner]="owner"
  (onEdit)="setMode(editMode)"
  (onDelete)="deleteOwner()"
/>
} @else if (isEditMode()) {
<app-edit-owner-form
  [owner]="owner"
  [devices]="newDevices"
  [availableDevices]="deviceOptions"
  (onSave)="submitForm()"
  (onCancel)="cancelEdit()"
  (onSelectDevice)="addDevice($event)"
  (onRemoveDevice)="removeDevice($event)"
/>
} @else {
<app-add-owner-form
  [owner]="owner"
  [devices]="newDevices"
  [availableDevices]="deviceOptions"
  (onAdd)="submitForm()"
  (onCancel)="cancelEdit()"
  (onSelectDevice)="addDevice($event)"
  (onRemoveDevice)="removeDevice($event)"
/>
}
