.select {
  position: relative;
  z-index: 1;
  &:not(.closed) {
    z-index: 2;
  }

  .select-body {
    display: flex;
    justify-content: space-between;

    app-icon {
      width: 19px;
      margin-left: 12px;
      margin-bottom: -2px;
      pointer-events: none;
      transform: rotate(0);
      transition: transform var(--duration-fast) cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .selected {
      color: var(--colour-black);
    }
  }

  .select-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 100%;
    max-height: 195px;
    border: 2px solid var(--colour-primary);
    border-radius: var(--radius-input);
    background: var(--colour-dropdown-background);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: max-height var(--duration-fast) cubic-bezier(0.4, 0.2, 0.2, 1);
    z-index: 2;

    .select-options {
      max-height: 195px;
      overflow-y: auto;
    }

    .select-options::-webkit-scrollbar {
      width: var(--radius-input);
    }

    .select-options::-webkit-scrollbar-track {
      background: transparent;
      margin: -4px 0;
    }

    .select-options::-webkit-scrollbar-thumb {
      background: var(--colour-primary);
      border-radius: var(--radius-input);
    }

    .select-option {
      padding: 0.5rem 1rem;
      color: var(--colour-black);
      text-align: left;
      cursor: pointer;
      position: relative;
      white-space: nowrap;

      &:hover,
      &.selected {
        background: var(--colour-primary);
        color: var(--colour-white);
      }

      &.action {
        text-align: center;
        border-bottom: 1px solid var(--colour-placeholder);
      }
    }
  }

  &.closed {
    .select-body {
      app-icon {
        transform: rotate(180deg) translateY(3px);
      }
    }

    .select-dropdown {
      max-height: 0 !important;
      border-width: 0;
      transition: max-height var(--duration-fast) cubic-bezier(0.4, 0.2, 0.2, 1)
          0s,
        border-width 0s ease-out calc(var(--duration-fast));
    }
  }

  &.disabled {
    .select-dropdown {
      display: none;
    }
  }

  &.up {
    .select-dropdown {
      top: auto;
      bottom: 110%;
    }

    .select-body {
      app-icon {
        transform: rotate(180deg) translateY(3px);
      }
    }

    &.closed {
      .select-body {
        app-icon {
          transform: rotate(0) translateY(0);
        }
      }
    }
  }
}
