.card {
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: var(--radius-panel);
  background: var(--colour-page-background);

  &.primary {
    background: var(--gradient-primary);

    .title {
      color: var(--colour-white);
    }
  }

  &.selected {
    border: 2px solid var(--colour-primary);
  }

  &.flexible {
    display: flex;
    justify-content: center;
  }

  &.interactive:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .title {
    display: block;
    color: var(--colour-black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0.5rem;
    text-align: center;
  }
}
