<div
  class="basic-card interactive"
  [class.add-card]="!data"
  [class.selected]="selected"
  [class.no-shadow]="data && !selected"
  [class.full-width]="fullWidth"
  [class.disabled]="disabled"
  [style.padding]="padding"
  (click)="handleClick()"
>
  @if (data) {
  <span class="data-info">
    <span class="data-label">{{ data.label }}</span>
    @if (badgeText) {
    <span class="card-badge">
      {{ badgeText }}
    </span>
    }
  </span>
  @if (showRemove) {
  <app-icon class="remove-button" name="close" size="24" />
  } } @else {
  <app-icon name="add" size="24" />
  <span>New {{ addText }}</span>
  }
</div>
