.basic-card {
  border-radius: var(--radius-panel);
  display: flex;
  justify-content: center;
  background: var(--colour-page-background);
  font-size: 1.2rem;

  .data-info {
    color: var(--colour-primary);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    min-width: 0;

    .data-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-badge {
      color: var(--colour-white);
      background: var(--colour-primary);
      border-radius: var(--radius-circle);
      padding: 0.25rem 0.7rem;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &.add-card {
    background: var(--gradient-primary);
    gap: 0.2rem;

    span {
      color: var(--colour-white);
    }

    app-icon {
      color: var(--colour-white);
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &.selected {
    border: 2px solid var(--colour-primary);
  }

  &.full-width {
    grid-column: 1 / -1;
    justify-content: center;
    display: flex;
  }

  &.disabled {
    &:hover {
      cursor: default;
      transform: none;
      box-shadow: none;
    }

    .data-info {
      color: var(--colour-black);
    }
  }
  .remove-button {
    color: var(--colour-primary);
    margin-left: 0.5rem;
    transform: translateY(2px);
  }
}
