<app-base-card
  [title]="displayName"
  [value]="device.id"
  [flexible]="false"
  [interactive]="interactive"
  (onClick)="click()"
>
  <div
    class="before device-card"
    [class.has-status]="showStatus"
    [class.online]="statusClass === 'online'"
    [class.away]="statusClass === 'away'"
    [class.offline]="statusClass === 'offline'"
    [attr.last-seen]="statusText"
  >
    @if (removable) {
    <button
      type="button"
      title="Remove device"
      class="remove-button icon-button interactive"
      (click)="remove()"
    >
      <app-icon name="close" size="24"></app-icon>
    </button>
    } @if (showLink && portalUrl) {
    <button
      type="button"
      title="Open in new tab"
      class="link-button icon-button interactive"
      (click)="openInNewTab()"
    >
      <app-icon name="external-link" size="18"></app-icon>
    </button>
    }
    <app-icon [name]="iconName" type="device" size="60"></app-icon>
  </div>
</app-base-card>
