<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inputs.css') }}" />
  </head>

  <body>
    <header>{% block header %}{% endblock %}</header>

    <main>{% block content %}{% endblock %}</main>

    <script type="module" src="{{ url_for('static', filename='js/elements/select.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/elements/portal-button.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/elements/add-device-select.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/elements/new-device-form.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/services/svg-loader.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/device-modal.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/device-manager.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/scan-manager.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/services/common.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/constants.js') }}"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
